<!-- <p>content-card works!</p> -->
<div class="blog-card-wrapper">
	<article class="blog-card" [class]="cardType()" [routerLink]="[postRoute(), post().slug]">
		<div class="card-image" 
		[style.background-image]="'url(' + (post().imageUrl || 'assets/new-logo.png') + ')'">
		</div>
			<div class="card-content">
				<div class="card-meta">
					<span class="card-category">{{post().categoryName | categoryLabel}}</span>
					<span class="card-date">{{post().publishedAt | localeDate }}</span>
				</div>
				<h2 class ="card-title">{{ post().title }}</h2>
				<p class="card-excerpt" [innerHTML]="safeContent()"></p>
				<div class="card-author">
					<img src="assets/content-assets/author.svg" alt="Author" class="author-avatar">
					<span class="author-name">{{ post().author }}</span>
				</div>
				
			</div>
    </article>
</div>

